
#LeftDiv {
   
    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: azure;
}

#RightDiv {

    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: beige;
}

#CetnterDiv {

    top: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: antiquewhite;
}

