
#LeftDiv {
   
    top: 0;
    left: 0;
    width: 33%;
    height: 33%;
    background-color: lightblue;
}

#RightDiv {

    top: 0;
    left: 0;
    width: 33%;
    height: 33%;
    background-color: lightcoral;
}

#CetnterDiv {

    top: 0;
    left: 0;
    width: 33%;
    height: 33%;
    background-color: lightgreen;
}

