@*виев главная*@
@{
    ViewBag.Title = "Home Page";

}



<div>
    <style>
        div {
            text-align: center;
        }
    </style>
    <a href="/Home/TasksTable/">TasksTable</a><br />
    <a href="/Home/WorkersTable/">WorkersTable</a><br />
    <a href="/Home/TimesTable/">TimesTable</a><br />
    @{
        List<SelectListItem> list = new List<SelectListItem>();
        for (int i = 1; i <= 13; i++)
        {
            list.Add(new SelectListItem() { Text = i.ToString() });
        }
    }
    @using (Html.BeginForm("OtechetView", "Home", FormMethod.Get))
    {
        @Html.DropDownList("date", list.Select(q => new SelectListItem { Text = q.Text, Value = q.Text }));

        <input type="submit" value="report for the selected month" />
    }
</div>

